<nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" id="toggle-menu" aria-label="Toggle menu" />
    <label for="toggle-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>
  
    <!-- logo -->
    <a href="/home" class="menu-logo">
      <img src="https://i.ibb.co/8XY93Qh/logo.png" alt="Logo"/>
    </a>
  
    <!-- menu items -->
    <div class="menu">
      <ul>
        <li><a class="navbar" href="/home">Home</a></li>
        <li><a class="navbar" href="/order"> Order</a></li>
        <li><a class="navbar" href="/map">Shop Map</a></li>
        <li><a class="navbar" href="/account">My Account</a></li>
      </ul>
      <ul>
        <li><a id="sign-out" href="">Sign out</a> </li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <div class="wrapper">
      <div class="content">
        <div class="item">
          <h1>Site Launching Soon!</h1>
          <p>We are working hard on our awesome new website. STAY TUNED!</p>
        </div>
      </div>
    </div>
  </div>
  