<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Birth Date</th>
                    <th>Customer</th>
                    <th>Active</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td class="fw-bold">{{user.id}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.birthDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{user.isCustomer}}</td>
                        <td>{{user.isActive}}</td>
                        <td><button (click)="userData(user.id)" class="bg-transparent border-0"><a style="color: black" class="fa fa-pen"></a></button></td>
                    </tr>
                </tbody>
            </table>
          <button class="btn btn-primary mt-3" (click)="goToHomePage()">Back to Admin</button>
        </div>
    </div>
</div>
