<nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" id="toggle-menu" aria-label="Toggle menu" />
    <label for="toggle-menu">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <!-- logo -->
    <a href="/home" class="menu-logo">
      <img src="assets/images/Two4H_logo.png" alt="Logo"/>
    </a>

    <!-- menu items -->
    <div class="menu">
      <ul>
        <li><a class="navbar" href="admin/users-list">User List</a></li>
        <li><a class="navbar" href="admin/product-list">Product List</a></li>
        <li><a class="navbar" href="admin/shop-list">Shop List</a></li>
      </ul>
      <ul>
        <li><a id="sign-out" href="">Sign out</a> </li>
      </ul>
    </div>
  </nav>


