<section>
      <div class="form-box">
          <div class="form-value">
              <form action="">
                  <h2>Edit</h2>
                  <div class="inputbox">
                    <a>{{user.id}}</a>
                    <label for="first_name">ID</label>
                </div>
                  <div class="inputbox">
                      <input type="text"  required [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}" value={{user.firstName}} class="form-control" id="first_name">
                      <i class="fa fa-user icon" aria-hidden="true"></i>
                      <label for="first_name">First Name</label>
                  </div>
                  <div class="inputbox">
                    <input type="text" required [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" class="form-control" id="last_name">
                    <i class="fa fa-user icon" aria-hidden="true"></i>
                    <label for="last_name">Last Name</label>
                </div>
                <div class="inputbox">
                  <input type="text" required [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" class="form-control" id="email">
                  <i class="fas fa-envelope icon"></i>
                  <label for="email">Email</label>
              </div>
                  <div class="inputbox">
                      <input type="password" required [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control" id="password">
                      <i class="fas fa-lock icon"></i>
                      <label for="password">Password</label>
                  </div>
                  <div class="inputbox">
                    <input type="date" required [(ngModel)]="user.birthDate" [ngModelOptions]="{standalone: true}" class="form-control" id="birth_date">
                    <i class="fas fa-calendar icon"></i>
                    <label id="birthdate" for="birth_date">Birth Date</label>
                </div>
                  <button type="submit" class="btn btn-primary" (click)="edit()">Save</button>

              </form>
          </div>
      </div>
   </section>
