<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="body">
  <section>
    <div class="form-box">
      <div class="form-value" *ngIf="product">
        <form (ngSubmit)="edit()">
          <h2>Edit</h2>
          <div class="inputbox">
            <input id="id" [(ngModel)]="product.id" name="id" value="{{product.id}}" readonly>
            <label for="id">ID:</label>
          </div>
          <div class="inputbox">
            <input type="text" required [(ngModel)]="product.productName" [ngModelOptions]="{standalone: true}" value="{{product.productName}}" class="form-control" id="first_name">
            <label for="first_name">Product Name:</label>
          </div>
          <div class="inputbox">
            <input type="text" required [(ngModel)]="product.productDescription" [ngModelOptions]="{standalone: true}" value="{{product.productDescription}}" class="form-control" id="last_name">
            <label for="last_name">Product Description:</label>
          </div>
          <div class="inputbox">
            <input type="text" required [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" value="{{product.price}}" class="form-control" id="email">
            <label for="email">Price:</label>
          </div>
          <div class="inputbox">
            <input type="text" required [(ngModel)]="product.stock" [ngModelOptions]="{standalone: true}" value="{{product.stock}}" class="form-control" id="password">
            <label for="password">Stock:</label>
          </div>
          <div class="checkbox">
            <label for="isActive">Is Active</label>
            <input type="checkbox" id="isActive" [(ngModel)]="product.isActive" name="isActive" [checked]="product.isActive">
          </div>
          <div class="imagebox">
            <img [src]="fetchImage(product.id)" width="10%" height="10%" alt="image not found">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <button class="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </div>
  </section>
</div>
