<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" id="toggle-menu" aria-label="Toggle menu" />
  <label for="toggle-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <a href="/owner" class="menu-logo">
    <img src="assets/images/Two4H_logo.png" alt="Logo"/>
  </a>

  <div class="menu">
    <ul>
      <li><a class="navbar" href="/owner">Home</a></li>
      <li><a class="navbar" href="/owner/shops-list"> Manage Shops </a></li>
      <li><a class="navbar" href="/account">My Account</a></li>
    </ul>
    <ul>
      <li><a id="sign-out" href="">Sign out</a> </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="content">

  </div>
  <div class="image slide-fwd-left">
  </div>
</div>
