<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Shop Name</th>
          <th>Owner</th>
          <th>Active</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let shop of shops">
          <td class="fw-bold">{{shop.id}}</td>
          <td>{{shop.shopName}}</td>
          <td>{{shop.owner.firstName}} {{shop.owner.lastName}}</td>
          <td>{{shop.isActive}}</td>
          <td><button (click)="shopData(shop.id)" class="bg-transparent border-0"><a style="color: black" class="fa fa-pen"></a></button></td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3" (click)="goToHomePage()">Back to Home Page</button>
    </div>
  </div>
</div>

