<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Shop Name</th>
          <th>Products</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let shop of shops$ | async">
          <td class="fw-bold">{{shop.id}}</td>
          <td>{{shop.shopName}}</td>
<!--          <td>{{getOwnerOfShop(shop.ownerId)?.firstName}} {{getOwnerOfShop(shop.ownerId)?.lastName}}</td>-->
          <td>
            <li *ngFor="let product of activeProducts">
              <ol *ngIf="product.shopId == shop.id">
                {{product.productName}}
              </ol>
            </li>

<!--            {{getProductsFromShop(shop.id)}}-->
          </td>
          <td><button (click)="shopData(shop.id)" class="bg-transparent border-0"><a style="color: black" class="fa fa-pen"></a></button></td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3" (click)="goToHomePage()">Back to Home Page</button>
    </div>
  </div>
</div>

