<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" id="toggle-menu" aria-label="Toggle menu" />
  <label for="toggle-menu">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <!-- logo -->
  <a href="/home" class="menu-logo">
    <img src="assets/images/Two4H_logo.png" alt="Logo"/>
  </a>

  <!-- menu items -->
  <div class="menu">
    <ul>
      <li><a class="navbar" href="/home">Home</a></li>
      <li><a class="navbar" href="/order"> Order</a></li>
      <li><a class="navbar" href="/map">Shop Map</a></li>
      <li><a class="navbar" href="/account">My Account</a></li>
    </ul>
    <ul>
      <li><a id="sign-out" href="">Sign out</a> </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="content">

      <button><a href="/order">ORDER NOW</a></button>
  </div>
  <div class="image slide-fwd-left">
      <img src="https://i.ibb.co/82fbrgK/Two-full-bodied-happy-people-in-animation-or-comic-style-drinking-drinks-with-purple-and-pink.png" alt="Happy people with alcohol">
  </div>
</div>
